modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.development]

[userenv.shared]
VITE_PAXITY_API_KEY = "private_3mdRuLok6Pe7rcUm2WhbN7KN6pDD6EVl"
VITE_PAXITY_API_TOKEN = "4HoB2042mb89DQ2oOd1T9lNv7rAcXjyl"

[nix]
channel = "stable-25_05"
