modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.development]

[userenv.shared]
VITE_PAXITY_API_KEY = "private_3mdRuLok6Pe7rcUm2WhbN7KN6pDD6EVl"
VITE_PAXITY_API_TOKEN = "4HoB2042mb89DQ2oOd1T9lNv7rAcXjyl"
PAXITY_APP_TOKEN = "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJTZW5kYXZhUGF5Iiwicm9sZXMiOlsiQVBQIl0sImlhdCI6MTc3MzY2MzcwNX0.zxTqxbxjhOgji-4vNTIkLcmKFdJRYEDoKqs8nCrdJmEnYGpBx5Mtx5OIWv0oqs83VIe5uFxssE8i0yYxXKJrTQ"
SUPABASE_DATABASE_URL = "postgresql://postgres.tkaadzqmpjgsavmbibja:o9tgN6oyhDQnlEZg@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrYWFkenFtcGpnc2F2bWJpYmphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Mjg4MTIsImV4cCI6MjA5MDQwNDgxMn0.Rrs4rkg51gi3MzjaVeQaIFAPxH0SUcqHAZLf4UvCgws"
API_BASE_URL = "https://zynum.net"
FIVESIM_API_KEY = "eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MDQ2Njc0MDQsImlhdCI6MTc3MzEzMTQwNCwicmF5IjoiOWNlYzY1ZDA1ODJhYjIyNTM1YzVlZDcyNWE1NzVjMzEiLCJzdWIiOjM4NjE4MDl9.si6UZFJmwu_7z8feDXtLYU7f58xtQoXBKsMP4Q7tyXdsYXUV9s65H8brdslHlJ6kr6qcauEyh0qtCVCdJa9IxIsbSvFRhm5Z-2IBNJgbmoRtv2cBTDPyoKFpb5BRS0_4fihHzvAERAzsuJ4vF-6CD01DM29-iOpoHYz7audq7mumJB08756ElKCB87M3fz_C7S079Xn1Gx0Jx2gKM0S1Ze6XuLN3x5pw15irYk1cYJtoJY_2xwqQyqx3AHXf00Hp8Dh2YF9KhDrzSITG7KdKUxyVWgUeiMG6LsIXH86HkTpVkA8qHrzQHqlOsQekZ_2TSKEBUSmOLjvx78-spC31Rg"
RESEND_API_KEY = "re_5e959QQt_K42BXxZcq1p24SUFz575WDpP"
OMNIPAY_API_KEY = "omnipay_api_key_c8de6b4f778e28f19d8d57c202e6ed23ed542368"
OMNIPAY_CALLBACK_KEY = "omnipay_ck_3066983b8e0ce0495ed430314243a212501d4766"
TELEGRAM_BOT_TOKEN = "8599037292:AAFxutJM3Tzu7eoM_I8RLkfXYHgM4yRBNpU"
SMTP_FROM_PASSWORD = "AAbb11##"

[nix]
channel = "stable-25_05"
